body
{
	background-color: green; 
}

#menu
{
	position: fixed;

	top: 70px;
	left: 100px;

	border: 1px solid black;
	width: 70%;
	height:7%;
	background-color: green; 
	z-index: 100;


}
.block
{
	display: block;
	border: 1px solid black;
	width: 300px;
	height:400px;
	z-index: 10;
	background-color: lightgreen; 
}

#b0
{
	position: absolute;
	top:20px;
	left:20px;

}

#b1 
{
	position: absolute;
	top: 20px;
	left: 340px;
}

#b2
{
	position: absolute;
	top : 20px;
	left:660px;
}